package $entity.PackageName;

import java.lang.reflect.Field;
import java.lang.reflect.InvocationHandler;
import java.lang.reflect.Proxy;
import java.sql.*;
import java.util.ArrayList;
import java.util.List;
import java.util.Optional;

import sk.tuke.meta.persistence.DAOPersistenceManager;
import sk.tuke.meta.persistence.EntityDAO;
import sk.tuke.meta.persistence.LazyProxyHandler;
import sk.tuke.meta.persistence.PersistenceException;

public class $entity.DaoName implements EntityDAO<$entity.Name> {
    private Connection connection;
    private DAOPersistenceManager daoPersistenceManager;

    public ${entity.DaoName}(DAOPersistenceManager daoPersistenceManager) {
        this.connection = daoPersistenceManager.getConnection();
        this.daoPersistenceManager = daoPersistenceManager;
    }

    @Override
    public void createTable() {
        try {
            System.out.println("${entity.DaoName} ${entity.CreateQuery}");
            PreparedStatement preparedStatement = connection.prepareStatement(
                    "${entity.CreateQuery}");
            preparedStatement.execute();
        } catch (SQLException e) {
            throw new PersistenceException("Cannot create $entity.Name", e);
        }
    }

    @Override
    public Optional<$entity.Name> get(long id) {
        try {
            System.out.println("${entity.DaoName} ${entity.SelectOneQuery}");
            PreparedStatement preparedStatement = connection.prepareStatement(
                    "${entity.SelectOneQuery}");
            preparedStatement.setLong(1, id);
            try (ResultSet resultSet = preparedStatement.executeQuery()) {
                if (resultSet.next()) {
                    return Optional.of(getInstanceFromDatabase(resultSet));
                }
            }
        } catch (SQLException e) {
            throw new PersistenceException("Cannot Select One $entity.Name", e);
        }
        return Optional.empty();
    }

    @Override
    public List<$entity.Name> getAll() {
        List<$entity.Name> instances = new ArrayList<>();
        try {
            System.out.println("${entity.DaoName} ${entity.SelectAllQuery}");
            PreparedStatement preparedStatement = connection.prepareStatement(
                    "${entity.SelectAllQuery}");
            try (ResultSet resultSet = preparedStatement.executeQuery()) {
                while (resultSet.next()) {
                    instances.add(getInstanceFromDatabase(resultSet));
                }
            }
        } catch (SQLException e) {
            throw new PersistenceException("Cannot Select One $entity.Name", e);
        }
        return instances;
    }

    @Override
    public void save(Object entity) {
        $entity.Name realObject = null;
        if (Proxy.isProxyClass(entity.getClass())) {
            System.out.println("$entity.DaoName save: entity was proxy");
            InvocationHandler handler = Proxy.getInvocationHandler(entity);

            if (handler instanceof LazyProxyHandler lazyHandler) {
                System.out.println("$entity.DaoName save: proxy is LazyProxyHandler");
                if (!lazyHandler.isInitialized()) {
                    System.out.println("$entity.DaoName save: proxy is unitialized");
                    return;
                }
                System.out.println("$entity.DaoName save: proxy is itialized");
                realObject = ($entity.Name) lazyHandler.getRealObject();
            }
        }
        if(realObject == null) {
            realObject = ($entity.Name) entity;
        }
        Object PK = realObject.${entity.IdColumn.GetterName}();

        try {
            Long id = null;
            if (!checkForeignKeysExists(realObject)) {
                throw new PersistenceException("Foreign keys doesn't exists: " + realObject);
            }
            if (PKExist("${entity.Name}", "${entity.PrimaryKey}", PK)) {
                System.out.println("${entity.DaoName} ${entity.UpdateQuery}");
                try (PreparedStatement preparedStatement = connection.prepareStatement("${entity.UpdateQuery}")) {
                    #set($i = 1)
                    #foreach ($column in $entity.DatabaseColumnsList)
                        #set($shortType = $column.Type)
                        #set($columnName = $column.Name)
                        #set($methodSuffix = $columnName.substring(0, 1).toUpperCase() + $columnName.substring(1))
                        #if ($columnName != $entity.IdColumn.Name)  ## Skip the ID column
                            #if ($shortType == "class java.lang.String" || $shortType == "String")
                    preparedStatement.setString($i, realObject.get${methodSuffix}());
                            #elseif ($shortType == "class java.lang.Long" || $shortType == "long")
                    preparedStatement.setLong($i, realObject.get${methodSuffix}());
                            #elseif ($shortType == "class java.lang.Integer" || $shortType == "int")
                    preparedStatement.setInt($i, realObject.get${methodSuffix}());
                            #elseif ($shortType == "class java.lang.Float" || $shortType == "float")
                    preparedStatement.setFloat($i, realObject.get${methodSuffix}());
                            #elseif ($shortType == "class java.lang.Double" || $shortType == "double")
                    preparedStatement.setDouble($i, realObject.get${methodSuffix}());
                            #elseif ($shortType == "class java.lang.Boolean" || $shortType == "boolean")
                    preparedStatement.setBoolean($i, realObject.get${methodSuffix}());
                            #else
                                #foreach($fk in $entity.ForeignKeyList)
                                    #if($fk.SQLAlias.contains($columnName) || $fk.JavaName.contains($columnName))
                    id = null;
                    if (Proxy.isProxyClass(entity.getClass())) {
                        System.out.println("$entity.DaoName update: entity was proxy");
                        InvocationHandler handler = Proxy.getInvocationHandler(entity);

                        if (handler instanceof LazyProxyHandler<?>) {
                            System.out.println("$entity.DaoName update: proxy is LazyProxyHandler");
                            LazyProxyHandler lazyHandler = (LazyProxyHandler) handler;
                            if (!lazyHandler.isInitialized()) {
                                System.out.println("$entity.DaoName update: proxy is unitialized");
                                throw new PersistenceException("Proxy is not initialized " + entity);
                            }
                            System.out.println("$entity.DaoName update: proxy is itialized");
                            id = lazyHandler.getId();
                        }
                    }

                    if (id == null) {
                        id = (realObject.${fk.FieldGetterName}() != null && realObject.${fk.FieldGetterName}() instanceof ${fk.TargetClass}) ? ((${fk.TargetClass}) realObject.${fk.FieldGetterName}()).${fk.PKGetterName}() : null;
                    }

                    if (id != null) {
                        preparedStatement.setLong($i, id);
                    } else {
                        preparedStatement.setNull($i, java.sql.Types.BIGINT);
                    }
                                    #else
                    preparedStatement.setObject($i, realObject.get${methodSuffix}());
                                    #end
                                #end
                            #end
                            #set($i = $i + 1)
                        #end
                    #end
                    preparedStatement.setLong($i, realObject.${entity.IdColumn.GetterName}());

                    preparedStatement.executeUpdate();
                }
            } else {
                System.out.println("${entity.DaoName} ${entity.InsertQuery}");
                try (PreparedStatement preparedStatement = connection.prepareStatement("${entity.InsertQuery}", Statement.RETURN_GENERATED_KEYS)) {
                    #set($i = 1)
                    #foreach ($column in $entity.DatabaseColumnsList)
                        #set($shortType = $column.Type)
                        #set($columnName = $column.Name)
                        #set($methodSuffix = $columnName.substring(0, 1).toUpperCase() + $columnName.substring(1))
                        #if ($columnName != $entity.IdColumn.Name)  ## Skip the ID column
                            #if ($shortType == "class java.lang.String" || $shortType == "String")
                    preparedStatement.setString($i, realObject.get${methodSuffix}());
                            #elseif ($shortType == "class java.lang.Long" || $shortType == "long")
                    preparedStatement.setLong($i, realObject.get${methodSuffix}());
                            #elseif ($shortType == "class java.lang.Integer" || $shortType == "int")
                    preparedStatement.setInt($i, realObject.get${methodSuffix}());
                            #elseif ($shortType == "class java.lang.Double" || $shortType == "double")
                    preparedStatement.setDouble($i, realObject.get${methodSuffix}());
                            #elseif ($shortType == "class java.lang.Boolean" || $shortType == "boolean")
                    preparedStatement.setBoolean($i, realObject.get${methodSuffix}());
                            #else
                                #foreach($fk in $entity.ForeignKeyList)
                                    #if($fk.SQLAlias.contains($columnName) || $fk.JavaName.contains($columnName))
                    id = null;
                    if (Proxy.isProxyClass(entity.getClass())) {
                        System.out.println("$entity.DaoName insert: entity was proxy");
                        InvocationHandler handler = Proxy.getInvocationHandler(entity);

                        if (handler instanceof LazyProxyHandler<?>) {
                            System.out.println("$entity.DaoName save: proxy is LazyProxyHandler");
                            LazyProxyHandler lazyHandler = (LazyProxyHandler) handler;
                            if (!lazyHandler.isInitialized()) {
                                System.out.println("$entity.DaoName save: proxy is unitialized");
                                throw new PersistenceException("Proxu is not initialized " + entity);
                            }
                            System.out.println("$entity.DaoName save: proxy is itialized");
                            id = lazyHandler.getId();
                        }
                    }

                    if (id == null) {
                        id = (realObject.${fk.FieldGetterName}() != null && realObject.${fk.FieldGetterName}() instanceof ${fk.TargetClass}) ? ((${fk.TargetClass}) realObject.${fk.FieldGetterName}()).${fk.PKGetterName}() : null;
                    }

                    if (id != null) {
                        preparedStatement.setLong($i, id);
                    } else {
                        preparedStatement.setNull($i, java.sql.Types.BIGINT);
                    }
                                    #else
                    preparedStatement.setObject($i, realObject.get${methodSuffix}());
                                    #end
                                #end
                            #end
                            #set($i = $i + 1)
                        #end
                    #end
                    ResultSet resultSet = preparedStatement.executeQuery();
                    if (resultSet.next()) {
                        realObject.${entity.IdColumn.SetterName}(resultSet.getLong(1));
                    }
                }
            }
        } catch (SQLException e) {
            throw new PersistenceException("ID field not found for entity " + entity, e);
        }
    }

    @Override
    public void delete(Object obj) {
        $entity.Name entity = ($entity.Name) obj;
        Object PK = null;

        if (Proxy.isProxyClass(entity.getClass())) {
            System.out.println("$entity.DaoName delete: entity was proxy");
            InvocationHandler handler = Proxy.getInvocationHandler(entity);

            if (handler instanceof LazyProxyHandler lazyHandler) {
                System.out.println("$entity.DaoName delete: proxy is LazyProxyHandler");
                PK = lazyHandler.getId();
            }
        }

        if (PK == null) {
            PK = entity.${entity.IdColumn.GetterName}();
        }

        System.out.println("${entity.DaoName} $entity.DeleteQuery");
        try (PreparedStatement preparedStatement = connection.prepareStatement("$entity.DeleteQuery")) {
            preparedStatement.setObject(1, PK);
            int affectedRows = preparedStatement.executeUpdate();
            if (affectedRows == 0) {
                throw new PersistenceException("$entity.Name with ID " + PK + " does not exist.");
            }
        } catch (SQLException e) {
            throw new PersistenceException("Error deleting $entity.Name", e);
        }
    }

    private $entity.Name getInstanceFromDatabase(ResultSet resultSet) {
        try {
            Long foreignKeyId = null;
            Optional<?> optionalValue = null;
            // Create an instance of the entity class
            $entity.Name instance = new ${entity.Name}();
            // Dynamically iterate over the entity columns
            #foreach ($column in $entity.DatabaseColumnsList)
                #set($shortType = $column.Type)
                #set($columnName = $column.Name)
                #set($SQLAlias = $column.SQLAlias)
                #set($methodSuffix = $columnName.substring(0, 1).toUpperCase() + $columnName.substring(1))
                #set($lazyFetch = $column.LazyFetch)
                #set($isForeignKey = false)
                #foreach($fk in $entity.ForeignKeyList)
                    #if($fk.SQLAlias.contains($columnName) || $fk.JavaName.contains($columnName))
                        #set($isForeignKey = true)
                        #break
                    #end
                #end
                #if ($shortType == "class java.lang.String" || $shortType == "String")
            instance.set${methodSuffix}(resultSet.getString("$SQLAlias"));
                #elseif ($shortType == "class java.lang.Long" || $shortType == "long")
            instance.set${methodSuffix}(resultSet.getLong("$SQLAlias"));
                #elseif ($shortType == "class java.lang.Integer" || $shortType == "int")
            instance.set${methodSuffix}(resultSet.getInt("$SQLAlias"));
                #elseif ($shortType == "class java.lang.Double" || $shortType == "double")
            instance.set${methodSuffix}(resultSet.getDouble("$SQLAlias"));
                #elseif ($shortType == "class java.lang.Boolean" || $shortType == "boolean")
            instance.set${methodSuffix}(resultSet.getBoolean("$SQLAlias"));
                #else
                    #if (${isForeignKey})
                        #if (${lazyFetch})
            // Vytvorenie proxy na oneskorené načítanie
            foreignKeyId = resultSet.getLong("$SQLAlias");
            System.out.println("$entity.DaoName getInstanceFromDatabase: methodSuffix ${methodSuffix}");
            System.out.println("$entity.DaoName getInstanceFromDatabase: column.TargetClass ${column.TargetClass}");
            System.out.println("$entity.DaoName getInstanceFromDatabase: foreignKeyId ${foreignKeyId}");
            System.out.println("$entity.DaoName getInstanceFromDatabase: daoPersistenceManager ${daoPersistenceManager}");
            instance.set${methodSuffix}((${methodSuffix}) LazyProxyHandler.createProxy(
                ${methodSuffix}.class,
                ${column.TargetClass}.class,
                foreignKeyId,
                daoPersistenceManager
            ));
                        #else
            // Bežné načítanie cudzieho kľúča
            optionalValue = daoPersistenceManager.get(${column.TargetClass}.class, resultSet.getLong("$SQLAlias"));
            instance.set${methodSuffix}((${methodSuffix}) optionalValue.orElse(null));
                        #end
                    #else
            instance.set${methodSuffix}((${methodSuffix}) resultSet.getObject("$SQLAlias"));
                    #end
                #end
            #end

            return instance;
        } catch (SQLException e) {
            throw new PersistenceException("Error creating $entity.Name from database result", e);
        }
    }

    private boolean checkForeignKeysExists($entity.Name entity) {
        Object PK = null;
        Object refEntity = null;
        #foreach ($fieldNameEntity in $entity.ForeignKeyList)
            #if (${fieldNameEntity.LazyFetch})
        // TODO: this must use note entity but use field
        PK = null;
        if (Proxy.isProxyClass(entity.getClass())) {
            System.out.println("$entity.DaoName checkForeignKeysExists: entity was proxy");
            InvocationHandler handler = Proxy.getInvocationHandler(entity);

            if (handler instanceof LazyProxyHandler lazyHandler) {
                System.out.println("$entity.DaoName checkForeignKeysExists: proxy is LazyProxyHandler");

                if (!lazyHandler.isInitialized()) {
                    System.out.println("$entity.DaoName checkForeignKeysExists: proxy is unitialized");
                    throw new PersistenceException("Proxu is not initialized " + entity);
                }
                System.out.println("$entity.DaoName checkForeignKeysExists: proxy is itialized");

                PK = lazyHandler.getId();
            }
        }

        if (PK == null) {
            PK = (entity.${fieldNameEntity.FieldGetterName}() != null && entity.${fieldNameEntity.FieldGetterName}() instanceof ${fieldNameEntity.TargetClass}) ? ((${fieldNameEntity.TargetClass}) entity.${fieldNameEntity.FieldGetterName}()).${fieldNameEntity.PKGetterName}() : null;
        }

        if (PK != null) {
            if (!PKExist("${fieldNameEntity.ReferencedTable}", "${fieldNameEntity.SQLFieldName}", PK)) {
                return false;
            }
        } else {
            return false;
        }
            #else
        refEntity = entity.${fieldNameEntity.FieldGetterName}();
        if (refEntity != null && refEntity instanceof ${fieldNameEntity.TargetClass}) {
            PK = ((${fieldNameEntity.TargetClass}) refEntity).${fieldNameEntity.PKGetterName}();
            if (PK != null) {
                if (!PKExist("${fieldNameEntity.ReferencedTable}", "${fieldNameEntity.SQLFieldName}", PK)) {
                    return false;
                }
            } else {
                return false;
            }
        } else {
            return false;
        }
            #end
        #end
        return true;
    }

    private boolean PKExist(String databaseName, String databaseColumn, Object PK) {
        try (PreparedStatement preparedStatement = connection.prepareStatement("SELECT 1 FROM \"" + databaseName + "\" WHERE \"" + databaseColumn + "\" = ?")) {
            preparedStatement.setObject(1, PK);
            try (ResultSet resultSet = preparedStatement.executeQuery()) {
                return resultSet.next();
            }
        } catch (SQLException e) {
            return false;
        }
    }
}
